.page {
  width: 600px;
  height: 620px;
  margin: 30px auto;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(117, 111, 111, 0.688);
  position: relative;
}

.main {
  height: calc(100% - 120px);
  padding: 20px 10px;
  /* overflow-y: auto; */
}

.header {
  text-align: center;
  color: #ffffff;
  background-color: #c081d9;
  padding: 13px 0px;
  box-shadow: 0px 1px 10px -1px rgba(178, 166, 166, 0.688);
}

.footer {
  position: absolute;
  bottom: 0px;
  color: white;
  opacity: 0.6;
  background-color: #c081d9;
}

.btn-back {
  color: white;
  background-color: transparent;
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 20px;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.btn-back:hover {
  background-color: rgba(243, 243, 243, 0.2);
  transition: all 0.2s ease-in-out;
}
