.detail-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

.detail-row {
  margin-bottom: 30px;
}
.detail-row:last-child {
  margin-bottom: 70px;
}

.row-title {
  font-size: 20px;
  font-weight: bold;
  color: #9a3bbf;
  opacity: 0.6;
  margin-bottom: 10px;
}

.row-content {
  font-size: 20px;
  font-weight: 400;
}
