.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group button {
  flex: 1;
  font-size: 18px;
  min-height: 50px;
  box-shadow: 0px 5px 10px rgba(180, 174, 174, 0.688);
}

.btn-white {
  background-color: #ffffff;
  border: none;
}

.btn-white:hover {
  background-color: rgb(243, 243, 243);
  transition: all 0.2s ease-in-out;
}

.btn-pink {
  background-color: #c081d9;
  color: white;
}

.btn-pink:hover {
  background-color: #9a3bbf;
  transition: all 0.2s ease-in-out;
}
